html,body{
	margin: 0;
	box-sizing: 0;
}
body{
  	overflow: hidden;
}
* {
    box-sizing: border-box;
}
.head{
	background-color: #ff0000;
	color: white;
}
.derecha{
	float: right;
}
.white{
	color: white;
	cursor: pointer;
}
.white:hover{
	color: white;
}
.left-20{
	margin-left: 20px;
}
.menu{
	width: 90px;
	height: 100%;
	background-color: #E7E7E7;
	padding: 15px;
}
.newitem{
	text-align: center;
    padding-left: 0 !important;
    padding-top: 12px !important;
    padding-bottom: 15px !important;
}
.red{
	color:red;
}.red:hover{
	color:white;
}
.no-margin{
	margin: 0;
}
.red{
	color: red;
}
.padding-t-0{
	padding-top:0; 
}
#contenedor-box{
	position: absolute;
    float: right;
    top: 80px;
    left: 100px;
    width: 900px;
    padding: 0px 15px;
}