<div id="carrera">
	<form class="ui form">
	  <h2 class="ui dividing header">Registrar Alumnos</h2>
	  	<div class="field">
		    <label>Nombres</label>
		    <div class="two fields">
		      <div class="field">
		        <input type="text" name="nombre" placeholder="Name">
		      </div>
		      <div class="field">
		        <input type="text" name="apellido" placeholder="lastname">
		      </div>
		    </div>
	   	</div>
	  	<div class="field">
		    <label>Fecha Iniio</label>
		    <div class="two fields">
		      <div class="field">
		        <input type="date" name="f_ini" placeholder="Name">
		      </div>
		    </div>
	   	</div>
	   	<div class="field">
		    <label>Carrera / Codigo</label>
		    <div class="two fields">
		      <div class="field">
		        <select name="alu-carrera">
		        	<option>-- Seleccione carrera --</option>
		        </select>
		      </div>
		      <div class="field">
		    		<input type="text" name="cod" placeholder="Ingrese codigo"></input>
		      </div>
		    </div>
	   	</div>
	   	<div class="field">
		    <div class="two fields">
				<div class="field">
					<button type="submit" class="ui red button">Agregar carrera</button>	
					<button type="submit" class="ui red button">Eliminar carrera</button>
				</div>		      
		    </div>
	   	</div>   	
	</form>
</div>