<div id="carrera">
	<form class="ui form" id="form-carrera">
	  <h2 class="ui dividing header">Agregar Carrera</h2>
	  <div class="field">
	    <label>Carrera</label>
	    <div class="two fields">
	      <div class="field">
	        <input type="text" name="name-carrera" placeholder="Carrera">
	      </div>
	     </div>
	   </div>
	   	<div class="field">
		    <label>Codigo Carrera</label>
	    	<div class="two fields">
	      		<div class="field">
	        		<input type="text" name="cod-carrera" placeholder="Codigo">
	    		</div>
	     	</div>
	   	</div>
	   	<div class="field">
		    <div class="two fields">
				<div class="field">
					<button type="submit" class="ui red button">Agregar carrera</button>	
					<!-- <a class="ui red button">Eliminar carrera</a> -->
				</div>		      
		    </div>
	   	</div>
	</form>
</div>